@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
font-family: "Montserrat", sans-serif;
}

body{
    background-image: url(./backgroundImg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.conteiner{
    background-color: rgba(240, 248, 255, 0.829);
    width: 455px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .title{
    font-size: 55px;
 }

.jokenpo{
    display: flex;
    gap: 40px;
    margin-top: 25px;
}

 button{
    font-size: 60px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
 }



#rock{
    background-color: rgb(152, 93, 207);
}

#paper{
    background-color: rgb(91, 138, 192);
}

#scissors{
    background-color:  rgb(108, 192, 91);
}

#rock:hover, #paper:hover, #scissors:hover{
   opacity: 0.8;
   
}

#rock:active, #paper:active, #scissors:active{
   opacity: 0.9;
   font-size: 57px;
}

 .your-score, .bot-score{
    font-size: 18px;
    margin-top: 10px; 
 }

 .yourScoreSpan{
    color: rgb(18, 95, 167);
 }

 .botScoreSpan{
    color: rgb(165, 30, 30);
 }

 /* codigos que aparecem pos funçao*/

 .game-results{
    display: flex;
    gap: 45px;
    align-items: center; 
    margin-top: 20px;
 }

 .humans-move{
   font-size: 50px;
   
 }

 .result{
   font-size: 20px;
 }

 .machine-move{
   font-size: 50px;
 }

 .labelYou{
   font-size: 20px;
   font-weight: 500;
   color: rgb(18, 95, 167);
 }

 .labelBot{
   font-size: 20px;
   font-weight: 500;
   color: rgb(165, 30, 30);
 }

 .reloading{
   color: #FFF;
   font-size: 20px;
   font-weight: 600;
   margin-top: 15px;
   transition: 0.2s ease-in-out;
 }

 .reloading:hover{
   color: #ffffff9d;
   font-size: 22px;
 }


 /*mobile*/

 @media screen and (max-width: 900px){
   .conteiner{
      width: 350px;
      height: 385px;
   }
 

 .title{
   font-size: 47px;
 }

 .button{
   font-size: 57px;
   border-radius: 12px;
 }

 .machine-move{
   font-size: 46px;
 }

 .humans-move{
   font-size: 46px;
 }
 }


     